<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js" ></script>
    <script src="./Js/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    

    <div id="app">
        <h1 class="text-uppercase">to do list</h1>

        <!-- utilizzo form e @submission così da integrare direttamente il :key="enter" del bonus -->
        <form @submit.prevent="addTodo">
          <input v-model="newTodo">
          <button>Add Todo</button>    
        </form>
        <ul>
          <li v-for="todo in todos" :key="todo.id" :class="{ done: todo.done }">
            {{ todo.text }}
            <button @click="removeTodo(todo)">X</button>
          </li>
        </ul>
      </div>

</body>
</html>